# Composer libraries
vendor

# HHVM files
www.pid

# Configuration files
*.ini

# Vagrant Artifacts
.vagrant
.sources

# OS artifacts
.DS_Store

# Editors
*~
\#*\#
*.swp

# Attachments directory
game/data/attachments/*
!game/data/attachments/index.php
