
<header class="admin-nav-header row-fixed">
    <h2>Game Admin</h2>
</header>
<nav class="admin-nav-links row-fluid">
    <ul>
        <li><a href="#setup-instructions">Setup Instructions</a></li>
        <li><a href="#game-configuration">Game Configuration</a></li>
        <li><a href="#team-management">Team Management</a></li>
        <li><a href="#content-management">Content Management</a></li>
        <li><a href="#logo-management">Logo Management</a></li>
        <li><a href="#sessions">Sessions</a></li>
        <li><a href="#scoreboard">Scoreboard</a></li>
        <li><a href="#registration">Registration</a></li>
        <li><a href="#global-controls">Global Controls</a></li>
    </ul>

    <a href="#" class="fb-cta cta--yellow">Begin Game</a>
</nav>

<div class="admin-nav--footer row-fixed">
    <span class="branding-el"><svg class="icon icon--social-facebook"><use xlink:href="#icon--social-facebook" /></svg> <span class="has-icon">Powered By Facebook</span></span>

    <a href="#" class="js-prompt-logout">Logout</a>

</div>
