<div class="fb-slider fb-container container--large">
    <ul class="slides">
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-4chan-2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-4chan"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-8ball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-alien-2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-alien-3"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-alien"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-anchor"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-apple"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-atom"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-ax"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-b"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bar-graph"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-barking"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-baseball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-basketball-hoop"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-basketball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bat"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-batman"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-battery"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-beaker"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bike"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bluetooth"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-boba-fett"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bomb"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bone"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-boomerang"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bow-arrow"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bowling-ball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bowling-pin"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-bowtie"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-box"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-boxing-glove"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-broomstick"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-burger"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-c3po"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cactus"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-california"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-camera"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-captain-america"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-car"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cat"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-centaur"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-checkmark"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cherry"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-chess-knight"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-chess-rook"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-chevron-corporal"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-chevron-flag"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cloud"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-coffee"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-command"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-compass"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-computer-mouse"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cone"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-corndog"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-crown"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cupcake"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-cursor"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-darth-vader"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-deadpool"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-deal-with-it"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-deathly-hollows"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-diamond"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-dirtbike"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-dog"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-double-ax"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-drop"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-dumbell"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-egg"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-elephant"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-eye"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-cloud"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-helmeted"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-sad"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-star"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-toast"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-face-tongue"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-feather"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-flag"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-flower-2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-flower"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-football"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-fork"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-fries"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-game-controller"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-glasses"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-green-lantern"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-guy-fawkes"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-hat-viking"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-hat-witch"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-head-lego"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-headphones"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-heart"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-high-heel"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-home"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-hook"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-hotdog"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-html-file"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-html"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-ice-cream"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-infinity"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-invader-2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-invader"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-iron-man"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-jack-o-lantern"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-jeep"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-kangaroo"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-kanye-glasses"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-key"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-kite"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-knife"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-lightbulb"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-lightning"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-location"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-man-newspaper"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-marker"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-monkey"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-monopoly-man"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-moon"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-moustache"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-music"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-mystery-man"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-nascar"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pacman-ghost"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pacman"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-paperclip"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-peace-sign"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-peace"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pencil-sharpener"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-penguin"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-penrose-triangle"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pi"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-picasa"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-plane"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-plasma-gun"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-plug"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pokemon"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-puma"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-pyramid"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-r2d2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-radiation"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-rainbow"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-reset"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-revolver"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-robber"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-robot"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-rocker"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-rocket"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-rollerblade"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-sailboat"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-saturn"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-sauron"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-sharethis"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-shark"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-shirt"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-shoe"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-skateboard"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-skateboarder"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-skiier"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-skull-crossbones"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-snowboarder"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-soccerball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-sock"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-spaceship-2"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-spaceship"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-speech-bubble"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-speeding-ball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-spiderweb"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-stars"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-stereo"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-stormtrooper"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-swimmer"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-swords"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tank"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tennis"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tetris-j"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tetris-t"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tetris-z"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-thors-hammer"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-throwing-star"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-thumbsup"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tooth"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-tophat"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-traffic-cone"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-trophy"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-turkey-leg"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-umbrella"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-unicorn"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-unicycle"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-vampire"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-venn-diagram"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-volleyball"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-vulcan-salute"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-watch"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-watergun"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-whale"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-whistle"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-wifi"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-x-and-o"/></svg></li>
        <li><svg class="icon--badge"><use xlink:href="#icon--badge-x-men"/></svg></li>
    </ul>
</div>