<nav class="fb-main-nav fb-navigation">
    <ul class="nav-left">
        <li><a href="#upcoming-game" data-active="upcoming-game">Play CTF</a></li>
        <li><a href="#rules" data-active="rules">Rules</a></li>
        <li><a href="#terms-conditions" data-active='["terms-conditions", "solo-registration", "team-registration"]'>Registration</a></li>
    </ul>

    <div class="branding">
        <a href="#">
            <div class="branding-rules">
                <span class="branding-el"><svg class="icon icon--social-facebook"><use xlink:href="#icon--social-facebook" /></svg> <span class="has-icon">Powered By Facebook</span></span>
                <span class="separator">/</span>
                <span class="branding-el"><svg class="icon icon--social-facebook"><use xlink:href="#icon--social-facebook" /></svg> <span class="has-icon">Powered By Facebook</span></span>
            </div>
        </a>
    </div>

    <ul class="nav-right">
        <li><a href="#careers" data-active='["careers", "job-detail"]'>Careers</a></li>
        <li><a href="#blog" data-active="blog">Blog</a></li>
        <li><a href="#" class="js-launch-modal" data-modal="login">Login</a></li>
    </ul>
</nav>
